:root {
    --space-xs: 14px;
    --space-s: 18px;
    --space-m: 24px;
    --space-l: 32px;
    --space-sl: 48px;
    --space-xl: 80px;

}

.ct-btn {
    padding: var(--space-s) var(--space-m);
    border-radius: var(--space-l);
    display: inline-flex;
    height: 55px;
    box-sizing: border-box;
    transition: all, 0.3s;
    min-width: 217px;
    align-items: center;
}
.ct-btn-icon {
    transition: all, 0.3s;
    display: flex;
    align-items: center;
}
.ct-btn-icon:empty{
    width: 0;
}
.ct-btn.secondary:hover .ct-btn-icon.right
 {
    margin-left: 8px;
}
.ct-btn.primary .ct-btn-icon.right {
    margin-left: 14px;
    /* align-items: self-end; */
    margin-top: 1px;
}
.ct-btn.secondary:not(:hover) .ct-btn-icon.left {
    margin-right: 8px;
}
.ct-btn.secondary:hover .ct-btn-icon.left,
.ct-btn.secondary:hover .ct-btn-icon.left svg,
.ct-btn.secondary:not(:hover) .ct-btn-icon.right,
.ct-btn.secondary:not(:hover) .ct-btn-icon.right svg{
    width: 0;
    opacity: 0;

}
